<header>
    <!-- <img src="insta.png" alt="logo"> -->
    <h1 alt="logo" style="font-family: 'Jacques Francois Shadow', serif;">INSTAGRAM</h1>
    <ul style="text-align: center;">
        <li>
            <a href="{{ url_for('index')}}">
                <i class='bx bxs-home'></i>
            </a>
        </li>
        <li>
            <a href="{{ url_for('profile', username=current_user.username) }}">Profile</a>
        </li>
        <li>
            <a href="{{ url_for('logout',) }}">Logout</a>
        </li>
    </ul>
</header>