body {
    display: flex;
    height: 100vh;
    font-family: Istok Web;
    background-color: white;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.container{
    text-align: center;
}

.header{
    margin-left: -60px;
    display: flex;
    cursor: pointer;
    font-size: 2.5rem;
    transition: var(--transition);
}

.header:hover {
    color: darkgray;
}

title {
    font-size: 24px;
    align-items: center;
    margin-bottom: 50px;
}

h2 {
    color: #625D5D;
    text-align: center;
    font-family: Istok Web;
    font-size: 15px;
    margin-bottom: 50px;
}

.box-container1 {
    width: 307px;
    height: 44px;
    display: flex;
    margin-bottom: 10px;
    margin-left: 1vh;
}

.box-container2 {
    width: 307px;
    height: 44px;
    display: flex;
    margin-bottom: 10px;
    margin-left: 1vh;
}


.ok-button {
    width: 307px;
    height: 53px;
    background: #DFE331;
    text-align: center;
    font-family: Jomolhari;
    font-size: 24px;
}





