{% extends 'layout.html' %}

{% block content %}
<div class="">
    <form method="POST" action="{{ url_for('forgot_password') }}">
        {{ form.hidden_tag() }}
    
        <fieldset class="group-form" style="border: none;">
            <legend class="form-label" style="font-size: 24px;">Forgot Password</legend>

            <div class="group-form">
                {{ form.email.label(class="form-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control") }}
                {% endif %}
            </div>
           
            <div class="group-form">
                {{ form.submit(class="btn btn-outline-success") }}
            </div>
            
        </fieldset>
            
        

</div>
{% endblock %}