{% extends 'layout.html' %}

{% block content %}
    

    <div class="post-container">
        {% for post in posts %}
            <div class="post" style="margin: 10px 0px; flex: 0 0 calc(33.33% - 20px);
            margin: 10px;
            box-sizing: border-box;
            overflow: hidden;
            border: 1px solid #ddd;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); margin-top: 5vh;">
                <div class="post-header">
                    <img src="{{ url_for('static', filename='images/posts/3ff0a7ce3e.jpg' + post.posts_owner.profile_pic  ) }}" alt="Post owner" style="width: 50px; height: 50px; border-radius: 50px;
                    border: 5px solid #EDE6E6;">
                    <h2>{{  post.posts_owner.username }}</h2>
                </div>
                <img src="{{ url_for('static', filename='' + post.photo) }}" alt="Post Image">
                <p>{{ post.caption }}</p>

                <div class="post-footer">
                    <span id="likeBtn" data-post-id="{{ post.id }}">❤️</span><span id="likeCounter">{{post.likes | length}}</span>
                    <span id="commentBtn" data-post-id="{{ post.id }}">💬</span><span id="commentCounter">{{ post.comments | length }}</span>
                </div>
            </div>
        {% endfor %}
    </div>
    <script>
        document.querySelectorAll("#likeBtn").forEach(btn => {
            btn.addEventListener('click', function(){
                const xhr = new XMLHttpRequest();
                xhr.open('POST', 'http://127.0.0.1:5000/like', true);
                xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');

                xhr.onload = function () {
                    if (xhr.status === 200) {
                        const response = JSON.parse(xhr.responseText);
                        console.log(response.status);
                    } 
                };
                const data = JSON.stringify({ 'postId': this.dataset.postId });
                xhr.send(data);
            })
        })
    </script>
    </script>
    <div class="pagination-box">
        {% for page_number in posts.iter_pages() %}
            {% if page_number == posts.page %}
                <a href="{{ url_for('index', page=page_number) }}" style="color: red;">{{page_number}}</a>
            {% else %}
                <a href="{{ url_for('index', page=page_number) }}" style="color: black;">{{page_number}}</a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}